//> using scala 2.13.18
//> using jvm 21
//> using dep "io.7mind.izumi::idealingua-v1-model:{{RUNTIME_VERSION}}"
//> using dep "io.7mind.izumi::idealingua-v1-runtime-rpc-scala:{{RUNTIME_VERSION}}"
//> using dep "io.circe::circe-core:{{CIRCE_VERSION}}"
//> using dep "io.circe::circe-generic:{{CIRCE_VERSION}}"
//> using dep "io.circe::circe-parser:{{CIRCE_VERSION}}"
//> using dep "io.circe::circe-derivation:0.13.0-M5"
//> using dep "io.circe::circe-generic-extras:0.14.5-RC1"
//> using repository "ivy2Local"
//> using repository "{{RUNTIME_REPOSITORY}}"
//> using repository "sonatype:public"
